@import url("clouds.css");
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    background-color: #809cc3;
}

.super-header{
    /* overflow-x: hidden; */
    
    text-align: center;
}

.super-header img{
    /* position: absolute; */
    width: 100%;
    margin-top: 5%;
    /* z-index: 20; */
}

@media screen and (min-width: 768px) {
    .super-header img{
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .super-header img{
        width: 60%;
    }
}